

.Board{

    width:300px;
    height: 150px;
    background-color: rgb(187, 94, 94);
}

.Board-img{

    width:300px;
    height: 150px;
}

.card-title{
position: absolute;
color: honeydew;
padding: 12;
font-size: 25px;
font-weight: bold;
}
