.modal_style{
    /* position: absolute; */
    position:absolute;
    left:30%;
    bottom:10%;
    /* tranform:translate(-30%,-30%); */
    height:80%;
    width:30%;
    color:whitesmoke;
    overflow: auto;
    background-color: rgb(59, 41, 41);
    /* backgroundColor:'#FFF'; */
    
    
}